<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.taxihike"
        versionCode = "109" 
        version     = "1.0.9" >

    <!-- versionCode is optional and Android only -->

    <name>TaxiHike v1.0.9</name>
    
    <!-- Default application icon -->
    <icon src="icon.png" />
    <!--
        Default icon should work, but cordova don't overwrite
        the default on all densities
        source: http://stackoverflow.com/questions/17820492/how-to-add-app-icon-within-phonegap-projects
    -->
    <icon src="icon.png" platform="android" density="ldpi" />
    <icon src="icon.png" platform="android" density="mdpi" />
    <icon src="icon.png" platform="android" density="hdpi" />
    <icon src="icon.png" platform="android" density="xhdpi" />
    
    <preference name="phonegap-version" value="3.0.0" />
    <access origin="*" />
    <allow-navigation href="*" />
    <uses-permission name="permission.INTERNET" />

    <description>
       Beskrivelse. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        iTorget 
    </author>

</widget>
