<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.taxihike"
        versionCode = "102" 
        version     = "1.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>TaxiHike 1.0.2</name>
    
    <preference name="SplashScreen" value="screen" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <preference name="SplashScreenDelay" value="10000" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash src="splash.png" />
    
    <preference name="phonegap-version" value="3.0.0" />
    <access origin="*" />
    <allow-navigation href="*" />
    <uses-permission name="permission.INTERNET" />

    <description>
       Beskrivelse. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        iTorget 
    </author>

</widget>
