<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.taxihike"
        versionCode = "128" 
        version     = "1.2.8" >

    <!-- versionCode is optional and Android only -->

    <name>TaxiHike v1.2.8</name>
    
    <!-- Default application icon -->
    <icon src="icon.png" />
    <!--
        Default icon should work, but cordova don't overwrite
        the default on all densities
        source: http://stackoverflow.com/questions/17820492/how-to-add-app-icon-within-phonegap-projects
    -->
    <icon src="icon.png" platform="android" density="ldpi" />
    <icon src="icon.png" platform="android" density="mdpi" />
    <icon src="icon.png" platform="android" density="hdpi" />
    <icon src="icon.png" platform="android" density="xhdpi" />
    
    <preference name="phonegap-version" value="3.0.0" />
    <access origin="*" />
    <allow-navigation href="*" />
    <uses-permission name="permission.INTERNET" />
    
    <gap:plugin name="org.apache.cordova.device" version="0.2.3" />
    <plugin name="cordova-plugin-background-mode" source="npm" />
    <plugin name="fi.avaus.cordova.geolocation" spec="0.3.11" source="pgb" />

    <!-- github.com/ismael-jimoh/Test-Hydration/blob/master/config.xml -->
    <gap:plugin name="org.apache.cordova.core.dialogs" />
    <gap:plugin name="org.apache.cordova.core.vibration" />

    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.Notification" />
    </feature>

    <description>
       Beskrivelse. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        iTorget 
    </author>


     <!-- to enable individual permissions use the following examples -->
     <feature name="http://api.phonegap.com/1.0/geolocation"/>


     <access origin="http://phonegap.com" subdomains="true" />


</widget>
